extends index_layout.pug

block content
      .registration__block
        .registration__header.auth
          h1.header__descr.header-wrap Вход
          form
            div
              .form__field.form-auth
                span.textinput.input-auth
                  include ../components/registration/form__field/form__field.pug
                  input.textinput-control(type='text' name='login' placeholder='Логин')
                  label.registration__label(for='name') Логин
                  label.registration__invalid
              .form__field.form-auth
                span.textinput.input-auth
                  input.textinput-control(type='password' name='password' placeholder='Пароль')
                  label.registration__label(for='password') Пароль
                  label.registration__invalid
            .button_bottom.button-auth
              .app
          .not-registered
            a.not-registered-text(href='../registration/registration.html') Нет аккаунта?
      script(type= "module" src="index.js") 
      