doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title &Vcy;&khcy;&ocy;&dcy;
    link(rel='stylesheet', href='../../style/style_reg.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    script(src='https://pugjs.org/js/pug.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap')
main
    #data
    a href='login/index/pug'
    script(type='module', src='../pages/login.js')
