extends ../profile_changes/profile_changes.pug
        
block extraHeader
    link(rel='stylesheet' href='../../../style/style_chat.css')
    
block overlay
    include ../../../components/profile/overlay_image/overlay_image.pug
