mixin chat-list(name, text, date, badge)
    li.chat-list__element
        a.chat_link(href='../chat-dialog/chat-dialog.html')
            .chat_image
                img(src='../chat-images/circle.png' alt='')
            .chat_text_wrap
                .chat_text_name
                    span= name 
                .chat_text_message
                    span= text
            .chat_meta_wrap
                time.chat_meta_date= date
                if (badge)
                    span.chat_meta_badge= badge