extends ../chat-dialog/chat-dialog.pug

block extraHeader
  link(rel='stylesheet' href='../../../style/style_reg.css')

block overlay       
  .page-overlay
    .page-overlay__wrap
      .page-dialog__pop-up.pop-up-width
        h1.header__descr.header-overlay Добавить пользователя
        form
          .form_wrap
            .form__field.registration-field
              span.textinput
                input.textinput-control(type='email' placeholder='Логин')
                label.registration__label(for='name') Логин
                label.registration__invalid Неверный логин
            .button_overlay
              .app
    script(type="module" src="chat-dialog_overlay.js") 