block variables
    -var validation = 'validation'
    -var no_border = 'no_border'

mixin form(field_name, field_placeholder, style)
    if (style == no_border)
        .form__field.form-space-between(style='border: none;')
            +form_input(field_name, field_placeholder)
    else
        .form__field.form-space-between
            +form_input(field_name, field_placeholder)

mixin form_input(field_name, field_placeholder)
    span.form__field-name= field_name
    span.textinput-profile
        span.form__field-name.right= field_placeholder