.page-overlay
    .page-overlay__wrap
        .page-dialog__pop-up.pop-up-width
            h1.header__descr.header-input Загрузите файл
            form
                .form_wrap
                    .form__image-input
                        span.upload
                            a.upload-link(href='#') Выбрать файл на компьютере
                            input.upload-input(type='file')
                    .button_overlay
                        button.button_type_submit(type='submit')
                            span.button-text Поменять